@font-face{
  font-family: Ubuntu;
  src: url(assets/fonts/Ubuntu);
}
body{
  background-color: #1C1C19;
  color:#EEEEEE;
  font-family: Ubuntu;
}

.jumbotron{
  background-color:#EEEEEE ;
  color:  #1C1C19;
}

.CTA{
  background-color: #FF5D5D;
  color: #EEEEEE;
  padding: 8px;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color .5s text-color .5s;
  border: none;
}

.CTA:hover{
  background-color: #EEEEEE;
  color:#FF5D5D;
  text-decoration: none;
  transition: .5s;
}

.row{
  margin-top: 50px;
  margin-bottom: 50px;
}
.card{
  background-color: #FF5D5D;
  height: 325px;
}
.card a{
  color:#1C1C19 ;
}

.about_img img{
  float: right;
  height: auto;
  width: 225px;
}

.about{
  margin-top: 60px;
  margin-bottom: 60px;
}

#best_friend{
  color: #FADC17;
}

@media screen and (max-width: 1000px){
  .card{
    height: 275px;
  }
}