@font-face{
  font-family: Ubuntu;
  src: url(assets/fonts/Ubuntu);
}
body{
  background-color: #1C1C19;
  color:#EEEEEE;
  font-family: Ubuntu;
}

#vid{
  position: absolute;
  width: 100vw;
  height: 95vh;
  object-fit: cover;
}

#overlay{
  position: absolute;
  width: 100vw;
  height: 95vh;
  background-color: black;
  opacity: 50%;
}

.hero{
  width:100vw;
  height:100vh;
}

.hero_text{ 
  position: relative;
  text-align: center;
  top: 200px;
}

.CTA{
  background-color: #FF5D5D;
  color: #EEEEEE;
  padding: 8px;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color .5s;
  border: none;
}

.CTA:hover{
  background-color: #EEEEEE;
  color:#FF5D5D;
  text-decoration: none;
  transition: .5s;
}

.row{
  margin-top: 50px;
  margin-bottom: 50px;
}
.card{
  background-color: #FF5D5D;
  height: 400px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px  #36352F ;
}

p.card-text{
  height: 120px;
}
.card a{
  color:#1C1C19 ;
}

.card .list-group-item{
  color:#FF5D5D;
}

.about_img{
  float: right;
  margin-left: 60px;
}

.about_img img{
  height: auto;
  width: 225px;
  border-radius: 100%;
  display: flex;
}

.about{
  margin-top: 60px;
  margin-bottom: 60px;
}

.red{
  color:#FF5D5D;
}


@media screen and (max-width: 992px){
  .card{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p.card-text{
    height: 60px;
  }
}