.hero{
  width:90%;
  margin: auto;
  margin-top: 50px;
}

.card{
  background-color: #CECFCB;
  height: 325px;
}

.about_img img{
  float: right;
  height: auto;
  width: 225px;
}

.about{
  margin-top: 60px;
  margin-bottom: 60px;
}


@media screen and (max-width: 1000px){
  .card{
    height: 275px;
  }
}